**Arrays**
<br>
**NumPy**

**Two-dimensional arrays**
<br>
A two-dimensional array is a collection of data arranged in rows and columns, resembling a matrix. Each element can be accessed using two indices: one for the row and one for the column.
<br>
**Summary**
<br>
Two-dimensional arrays are like matrices with rows and columns, representing a single table of data.

In [10]:
import numpy as np

In [33]:
two_dimensional_array = np.array([[1, 2, 3],
                                 [4, 5, 6],
                                 [7, 8, 9]])

print(two_dimensional_array)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [34]:
# example of a 2d array with employees data
td_employee = np.array([
    ["Arsalan", "Azzy", "arsalan.azzy@random.com", 28],
    ["Muhammad", "Azzy", "muhammad.azzy@random.com", 26]
])

# printing employee details
for employee in td_employee:
    print(employee)

['Arsalan' 'Azzy' 'arsalan.azzy@random.com' '28']
['Muhammad' 'Azzy' 'muhammad.azzy@random.com' '26']

**Three-dimensional arrays**
<br>
A three-dimensional array is a collection of two-dimensional arrays, forming a cube of data. Each element can be accessed using three indices: one for the depth (or layer), one for the row, and one for the column.
<br>
**Summary**
<br>
Three-dimensional arrays can be thought of as a collection of two-dimensional arrays (or tables).
<br>
If you have an array with multiple two-dimensional tables (e.g., 20 tables), it is indeed a three-dimensional array. Each "table" would represent a separate two-dimensional array.

In [35]:
three_dimensional_array = np.array([[[1, 2, 3],
                                    [4, 5, 6]],
                                    
                                   [[1, 2, 3],
                                   [4, 5, 6]]])

print(three_dimensional_array)

[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]

In [32]:
# array with 5 tables, 3 rows, 4 columns
tda = np.random.randint(1, 10, size=(5, 3, 4))
print(tda)

[[[2 5 7 1]
  [1 8 1 4]
  [3 5 7 2]]

 [[1 8 6 8]
  [8 5 4 7]
  [4 2 5 6]]

 [[7 3 2 8]
  [5 3 5 6]
  [8 2 6 1]]

 [[5 2 5 8]
  [4 1 2 7]
  [4 3 4 3]]

 [[5 7 3 4]
  [1 3 6 6]
  [5 9 3 5]]]

In [41]:
import numpy as np

# Creating a 3D NumPy array called td_vehicles
td_vehicles = np.array([
    # First layer (group 1): BMW vehicles
    [
        # First row of group 1
        ["BMW 3 series", "BMW 2 series", "BMW 1 series"],  # 3 BMW models in the first row
        # Second row of group 1
        ["BMW I8", "BMW I5", "BMW X6"]  # 3 BMW models in the second row
    ],
    # Second layer (group 2): Mercedes vehicles
    [
        # First row of group 2
        ["Mercedes GLA", "Mercedes C Class", "Mercedes CLA"],  # 3 Mercedes models in the first row
        # Second row of group 2
        ["Mercedes GLB", "Mercedes EQE SUV", "Mercedes GLC"]  # 3 Mercedes models in the second row
    ]
])

# Iterating over each group in the 3D array
for vehicle in td_vehicles:
    print(vehicle, end="\n\n")  # Print each 2D group (layer) of vehicles

[['BMW 3 series' 'BMW 2 series' 'BMW 1 series']
 ['BMW I8' 'BMW I5' 'BMW X6']]

[['Mercedes GLA' 'Mercedes C Class' 'Mercedes CLA']
 ['Mercedes GLB' 'Mercedes EQE SUV' 'Mercedes GLC']]

**Notes**
<br>
* In NumPy arrays, indexing follows the row-major order, which means the first index refers to the row, and the second index refers to the column.
* Axes in NumPy:
  * Axis 0: Operates down columns (vertical direction).
  * Axis 1: Operates across rows (horizontal direction).