In [74]:
import pandas as pd
import random

In [75]:
# load the data from the csv file
data = pd.read_csv("university_students.csv")

In [86]:
print(data.head(5))

   Index Student ID  employed   Salary             Name  Age  \
0      1      S1000      True  43711.0  Daniel Mitchell   18
1      2      S1001     False      NaN  Alexander James   22
2      3      S1002      True  15114.0      Laura Baker   18
3      4      S1003      True  45494.0     Anna Kennedy   24
4      5      S1004     False      NaN  Ronald Anderson   24

               Major  Study Hours per Week
0         Psychology                    18
1            English                    16
2          Chemistry                    38
3            History                    29
4  Political Science                     8

In [87]:
# add a column with random data at index 1
try:
    data.insert(2, "Salary", [
        random.randint(10_000, 50_000) if employed else None
        for employed in data["employed"]])
except ValueError:
    print("Column name already exists.")

Column name already exists.

In [88]:
print(data.head(5))

   Index Student ID  employed   Salary             Name  Age  \
0      1      S1000      True  43711.0  Daniel Mitchell   18
1      2      S1001     False      NaN  Alexander James   22
2      3      S1002      True  15114.0      Laura Baker   18
3      4      S1003      True  45494.0     Anna Kennedy   24
4      5      S1004     False      NaN  Ronald Anderson   24

               Major  Study Hours per Week
0         Psychology                    18
1            English                    16
2          Chemistry                    38
3            History                    29
4  Political Science                     8

In [89]:
# save a new copy of the file
# "to_csv" = method that writes the dataframe to a csv file
# "index=False" pandas does not include index (row nums) when saving to a csv
data.to_csv("university_students.csv", index=False)

In [91]:
try:
    data.insert(0, "Index", [index for index, _ in enumerate(data["Student ID"], start=1)])
except ValueError:
    print("Index already exists.")

Index already exists.

In [81]:
print(data.head(5))

   Index Student ID  employed   Salary             Name  Age  \
0      1      S1000      True  43711.0  Daniel Mitchell   18
1      2      S1001     False      NaN  Alexander James   22
2      3      S1002      True  15114.0      Laura Baker   18
3      4      S1003      True  45494.0     Anna Kennedy   24
4      5      S1004     False      NaN  Ronald Anderson   24

               Major   GPA  Study Hours per Week
0         Psychology  2.57                    18
1            English  2.14                    16
2          Chemistry  3.35                    38
3            History  3.31                    29
4  Political Science  2.59                     8

In [102]:
# "GPA" == column name to remove
# "axis=0" removes row
# "axis=1" removes column
# "inplace=True" modifies original dataframe, if False, creates new dataframe

# data.drop("GPA", axis=1, inplace=True)

In [103]:
print(data.head(5))

   Index Student ID  employed   Salary             Name  Age  \
0      1      S1000      True  43711.0  Daniel Mitchell   18
1      2      S1001     False      NaN  Alexander James   22
2      3      S1002      True  15114.0      Laura Baker   18
3      4      S1003      True  45494.0     Anna Kennedy   24
4      5      S1004     False      NaN  Ronald Anderson   24

               Major  Study Hours per Week
0         Psychology                    18
1            English                    16
2          Chemistry                    38
3            History                    29
4  Political Science                     8