**Arrays**
<br>
**NumPy**

**Two-dimensional arrays**
<br>
A two-dimensional array is a collection of data arranged in rows and columns, resembling a matrix. Each element can be accessed using two indices: one for the row and one for the column.
<br>
**Summary**
<br>
Two-dimensional arrays are like matrices with rows and columns, representing a single table of data.

In [10]:
import numpy as np

In [13]:
two_dimensional_array = np.array([[1, 2, 3],
                                 [4, 5, 6],
                                 [7, 8, 9]])

print(two_dimensional_array)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [26]:
# example of employees
td_employee = np.array([
    ["Arsalan", "Azzy", "arsalan.azzy@random.com", 28],
    ["Muhammad", "Azzy", "muhammad.azzy@random.com", 26]
])

for employee in td_employee:
    print(employee)

['Arsalan' 'Azzy' 'arsalan.azzy@random.com' '28']
['Muhammad' 'Azzy' 'muhammad.azzy@random.com' '26']

**Three-dimensional arrays**
<br>
A three-dimensional array is a collection of two-dimensional arrays, forming a cube of data. Each element can be accessed using three indices: one for the depth (or layer), one for the row, and one for the column.
<br>
**Summary**
<br>
Three-dimensional arrays can be thought of as a collection of two-dimensional arrays (or tables).
<br>
If you have an array with multiple two-dimensional tables (e.g., 20 tables), it is indeed a three-dimensional array. Each "table" would represent a separate two-dimensional array.

In [17]:
three_dimensional_array = np.array([[[1, 2, 3],
                                    [4, 5, 6]],
                                    
                                   [[1, 2, 3],
                                   [4, 5, 6]]])

print(three_dimensional_array)

[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]

In [23]:
# array with 5 tables, 3 rows, 4 columns
tda = np.random.randint(1, 10, size=(5, 3, 4))
print(tda)

[[[3 8 9 7]
  [4 3 6 5]
  [9 3 2 5]]

 [[1 7 7 4]
  [5 7 1 9]
  [8 9 2 5]]

 [[4 3 7 7]
  [2 3 9 1]
  [7 9 2 1]]

 [[4 5 8 5]
  [5 7 7 5]
  [7 7 8 8]]

 [[1 8 7 6]
  [9 5 9 3]
  [6 6 6 8]]]